<p-card class="p-3 shadow-lg border rounded-md" [style]="{ 'margin': '20px auto'}">
  <div class="flex items-center mb-3">
    <img [src]="comment.user.image.png" alt="User Avatar" class="w-10 h-10 rounded-full mr-3">
    <div class="flex-grow">
      <span class="font-semibold">{{ comment.user.username }}</span>
      <p class="text-sm text-gray-500">{{ comment.createdAt }}</p>
    </div>
    <p class="text-blue-950 font-bold">Reply</p>
    <i class="pi pi-undo" style="color: slateblue"></i>
    <!-- (click)="onReply()" -->
  </div>
  <p>{{ comment.content }}</p>
  @if (comment.replies.length > 0) {
  <div class="mt-4 ml-6">
    @for (reply of comment.replies; track $index) {
    <p class="text-sm text-gray-700">
      <span class="font-semibold">{{ reply.user.username }}:</span> {{ reply.content }}
    </p>
    }
  </div>
  }
</p-card>
